/* ... стиль для надписей ... */
label{
    font-size:120%;
    text-wrap: none;
}
u{
    font-size:120%;
    text-decoration: double;
    text-align: right;
}
p{
    font-size:120%;
    font-style: oblique;
    vertical-align: middle;
}

/* ... стиль для таблиц ... */
td{
    min-width: 200px;
}

/* ... стиль для текстовых полей ... */
input[type=text] {
    color:#08233e;
    font:2.4em Futura, AppleGothic, sans-serif;
    font-size:100%;
    min-width: 350px;
}

/* ... стиль для кнопок ... */
input[type=button] {
    font-size:120%;
    cursor:pointer;
}

input[type=button]:hover {
     background-color:rgba(0,0,200,0.15);
 }

input[type=button]:disabled {
    background-color:rgba(200,200,200,0.05);
    color: rgba(200,200,200,0.5);
}

/* ... стиль для элементов происка ... */
#search_suggestion {
    z-index: 10;
    border: 0px solid gray;
    margin:0;
    list-style:none;
    padding:0;
    border-radius:3px;
    background:#fffffa;
    background:-moz-linear-gradient(top, #fffffa 0%,#f8f8f0 100%);
}
#search_suggestion li {
/*position:relative; */
    margin:0;
    padding:3px 90px 3px 7px;
    font:12px Tahoma,sans-serif;
}
#search_suggestion i {
    position:absolute;
    right:0px;
    padding:1px 7px;
}
#search_suggestion li.active {
    background:#fff0e8;
    text-decoration:underline;
}
#search_suggestion li a {
    color: black;
    text-decoration:none;
}
#search_suggestion li a:hover {
    color: #ff4000;
    text-decoration:underline;
}
.item_price {
    background:transparent;
    border:none;
}